@media screen and (max-width:1100px) {
    .card {
        height: 200px; 
        width: calc(100% / 4 - 10px); 
    }

    .responsive .card {
        margin-bottom: 90px;
    }

    .recently-played .last {
        margin-top: 60px;
    }

    .bar-music {
        width: 200px;
    }

    .fl-icons i{
        display: block;
        padding: 0px;
    }
    .footer-left {
        width: 165px;
    }
    .list-foot {
        gap: 5px;
    }

    .audio-control {
        padding: 30px 8px;
    }
}

@media screen and (max-width:700px) {
    .card {
        height: 150px; 
        width: calc(100% / 2 - 10px);
    }

    .responsive .card {
        margin-bottom: 150px;
    }

    .recently-played .last {
        margin-top: 125px;
    }

    .bar-music {
        width: 50%;
    }
}

@media screen and (max-width:600px) {

    .card {
        height: 150px; 
        width: calc(100% / 2 - 10px);
    }

    .recently-played {
       padding-top: 30px;
    }

    .main-content {
        width: 100%;
    }
    
    .recently-played {
        margin-top: 20px;
    }

    .pro {
        width: calc(100% - 50px);
    }
    
    .text-playlist,
    .playlist,
    .nome-playlist,
    .app span, .hr-sidebar, .profile a h3, 
    .nav-list ul li span {
        display: none;
    }
    
    .big-logo {
        display: none;
    }

    .home-border {
        border: none;
    }

    .sx-utility {
        width: 50px;
    }

    .small-logo {
        display: block;
        width: 80%;
        text-align: center;
    }

    .actions-music {
        gap: 10px;
    }

    .bar-music {
        min-width: 125px;
    }

    .play-center {
        width: 45%;
    }

    .list-foot li i {
        font-size: 16px;
    }
}



    
    
        
  
    