/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Montserrat', sans-serif;
    /* debug */
    height: 100%; 
    background-color: lightyellow; 
} 

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #A3A3A3;  
}



/* MAIN  */
main { 
    height:calc(100vh - 100px); 
    display: flex;
    color: white;
    background-color: #141922; 
} 

.upgrade {
    width: 20%;
    border-color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
}

/* NAV-MAIN  */
.nav-list-main {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    padding-top: 10px;
    color: #7D7F84;
}

/* SIDEBAR  */
.sx-utility { 
    width: 170px; 
    /* height: 100%;  */
    text-align: left;
    padding: 10px;
    color: #A3A3A3;
    background-color: black; 
} 

.sx-utility h3 {
    color: white;
}

.logo {
    width: 90%;
}

.small-logo {
    display: none;
}

.nav-list ul li{
    margin-bottom: 10px;
    margin-top: 5px;
}

i {
    font-size: 30px;
}

.icon-list {
    height: 30px;
    vertical-align: middle;
}

.nome-playlist ul li {
    line-height: 35px;
    font-size: 15px;
}


.profile {
    margin-top: 10px;
}

.profile-photo {
    object-fit: cover;
    border-radius: 50%;
    background-color: lightgrey;
}

.profile h3 {
    display: inline-block;
}


/* CONTENT  */
.main-content { 
    overflow-y: scroll; 
    overflow-x: hidden; 
    width: calc(100% - 170px);
}

.main-content img {
    width: 100%;
}

.pro { 
    height: 80px; 
    width: calc(100vw - 150px);
    /* debug   */
    background-color: lightcoral;
} 

.d-flex { 
    display: flex; 
    flex-wrap: wrap; 
} 

.play {
    gap: 10px;
    min-height: 250px;
  
}

.card { 
    height: 120px; 
    width: calc(100% / 6 - 10px);
    margin-top: 30px; 
} 
 
.recently-played {
    margin-top: 20px;
    margin-left: 10px;
}

.recently-played:last-child {
    margin-bottom: 10px;
}

.radius {
    border-radius: 50%;
}

/* FOOTER  */
.audio-control { 
    width: 100%; 
    height: 100px;
    padding: 30px 20px; 
    background-color: #282828;
  
   
} 


.footer-left,
.play-center {
    width: 200px
}


.footer-left {
    display: flex;
    gap: 20px;
    background-color: chartreuse;
}

.footer-left img {
    width: 50%;
}
