/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Montserrat', sans-serif;
    /* debug */
    height: 100%; 
    background-color: lightyellow; 
} 

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #A3A3A3;  
}

.d-flex { 
    display: flex; 
    flex-wrap: wrap; 
} 

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}


/* MAIN  */
main { 
    height:calc(100vh - 100px); 
    display: flex;
    color: white;
    background-color: #141922; 
} 

.pro { 
    height: 80px; 
    width: calc(100vw - 150px);
    position: fixed;
    background-color: rgb(8, 11, 18, 0.6);
} 

.upgrade {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    right: 35px;
    top: 20px;
    text-align: center;
    font-size: 13px;
    border: 1px solid white;
}

/* NAV-MAIN  */
.nav-list-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    font-size: 13px;
    padding-top: 10px;
    color: #7D7F84;
}

.line {
    width: 35px;
    border-bottom: 1px solid chartreuse;
    padding-bottom: 1px;
}

/* SIDEBAR  */
.sx-utility { 
    width: 170px; 
    text-align: left;
    color: #A3A3A3;
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.sx-utility h3 {
    color: white;
    padding-top: 15px;
}

.logo {
    width: 90%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.padding-aside {
    padding-left: 10px;
}

.home-border {
    border-left: 3px solid chartreuse;
    color: white;
}

.small-logo {
    display: none;
}

.nav {
    margin-top: 100px;
}

.nav-list ul li{
    margin-bottom: 10px;
    margin-top: 5px;
}

i {
    font-size: 30px;
}

.app {
    padding-bottom: 10px;
    font-size: 14px;
}

.app i {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}

.text-playlist {
    vertical-align: super;
}

.icon-list {
    height: 30px;
    vertical-align: middle;
}

.nome-playlist ul li {
    line-height: 40px;
    font-size: 15px;
}

.profile {
    margin-top: 10px;
    margin-bottom: 5px;
}

.hr-sidebar {
    margin-right: 15px;
}

.profile-photo {
    object-fit: cover;
    border-radius: 50px;
    background-color: grey;
    margin-right: 5px;
}

.profile h3 {
    display: inline-block;
    font-size: 15px;  
}

/* CONTENT  */
.main-content { 
    overflow-y: scroll; 
    overflow-x: hidden; 
    width: calc(100% - 170px);
}

.main-content img {
    width: 100%;
}

.play {
    gap: 10px; 
}

.card { 
    width: calc(100% / 6 - 10px);
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
} 

.hover-card {
    display: none;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 100%;
   
   
}

.card p {
    color: gray;
    font-size: 13px;
}

.text {
    margin-top: 5px;
    text-align: center;
}

.recently-played {
    margin-top: 20px;
    margin-left: 10px;
}

.main-content h4, h3 {
    padding-bottom: 10px;
}

.ascolti {
    color: grey;
    font-size: 12px;
}
.recently-played:last-child {
    margin-bottom: 15px;
}

.radius {
    border-radius: 50%;
}

/* FOOTER  */
.audio-control { 
    width: 100%; 
    height: 100px;
    padding: 30px 20px; 
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
} 

footer i {
    font-size: 18px;
}

.footer-left {
    width: 250px; 
    display: flex;   
}

.play-center {
    width: 50%;
    height: 70px;
}

.actions-music {
    justify-content: center;
    margin-bottom: 15px;
}

.foot-text h5 {
    color: lightgray;
    font-size: 12px;
}

.footer-left .foot-text {
    color: lightgray;
    padding: 5px 0 0 10px;
}

.footer-left span i {
    padding: 10px 0 0 10px;
    color: lightgrey;
}

.time-music {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: center;
    gap: 10px;
}

.bar-music {
    width: 70%;
    background-color: grey;
    border-radius: 3px;
}

.progress-bar {
    border: 3px solid lightgray;
    width: 28%;
    border-radius: 3px;
    position: relative;
}

.dot-bar {
    width: 10px;
    height: 100%;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    position: absolute;
    right: -2px;
    top: -8px;
    display: none;
}

.footer-right {
    width: 200px; 
    display: flex;
    justify-content: space-between;
}

.list-foot {
    gap: 15px;
    align-items: center; 
}

.footer-right ul li .bar-music{
    width: 130px;
}

.play-center {
    margin-right: 15px;
}

/* HOVER */
.upgrade:hover{
    transform: scale(1.1);
}

.nav-list-main h4:hover {
    color: white;
}

.nome-playlist ul li a:hover {
    color: white;
}

.nav-list ul li:hover {
    color: white;
}

.a-hover:hover {
    color: white;
}

.app a span:hover {
    color: white;
}

.foot-text h5:hover {
    color: white;
    text-decoration:underline;
}

.fl-icons :hover{
    color: white;
}

.fa-circle-play:hover {
    color: white;
    transform: scale(1.2);
}

.progress-bar:hover {
    border: 3px solid greenyellow;
}

.hover-card:hover {
    display: inline-block;
}

.dot-bar:hover {
    display: inline-block;
}